---
# tasks file for ssh
- name: Add ssh keys for all users
  authorized_key:
    user: "{{ item.user_name }}"
    key: "https://github.com/{{ item.github_name }}.keys"
    state: present
    validate_certs: yes
  with_items: "{{ users }}"
  notify: restart sshd

- name: Update sshd configuration safely, avoid locking yourself out
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0600'
    validate: /usr/sbin/sshd -t -f %s
  notify: restart sshd