#! /bin/sh
# forces resolv.conf to be set properly when running vagrant (which tries to take over)
sleep 5
echo "# generated to overwrite vagrant" > /etc/resolv.conf
{% for dns in groups['dns'] | map('extract',hostvars,'ip_for_dns') | list %}
echo nameserver {{dns}} >> /etc/resolv.conf
{%endfor%}