; Cornet DNS zone for .lan
;
$TTL 1D ; set time to live variable to one day
$ORIGIN lan. ; set ORIGIN to .lan, ORIGIN is the domain we are serving for 
lan.	IN	SOA	ns.lan.	mattjs.vt.edu. ( {# Todo: change this to an email that won't be useless when I leave #}
	2022022101 ; sn = serial number, used for keeping zones in sync, tradition is yyymmddss where s is sequence, not second
	12H ; ref = time between refresh, set to twelve hours
	15M ; ret = time before retrying sync if failed
	2W ; ex = expiry
	3H ; I don't really understand this one 
) ; {# see https://www.zytrax.com/books/dns/ch8/soa.html for more info #}

lan.	IN	NS	ns.lan. ; set the name server for lan
ns	IN	A	{{ ip_for_dns }} ; set the ip of this server
{% for host, options in hostvars.items() %}
{{ host }}	IN	A	{{ options.ip_for_dns }} ; 
{% endfor %}
{% for service, hosts in groups.items() %}
	{% if service in dns_advertised_groups %}
		{% if hosts|length == 1 %}{# If group is a singleton (ie, only one router), it owns that dns entry #}
{{ service }}	IN	CNAME	{{ hosts[0] }} ; 
		{% else %}
			{% for host in hosts %}{# Add numbering if there are multiple hosts in the group #}
{{ service }}-{{ loop.index }}	IN	CNAME	{{ hosts[loop.index0] }} ; 
			{% endfor %}
		{% endif %}
	{% endif %}
{% endfor %}