//
// named.conf
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only name server (as a localhost DNS resolver only).
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//
//
{% for zone, ip_addr in  int_nets.items() %}
acl {{ zone }} { {{ ip_addr|ansible.utils.ipaddr('subnet') }}; };
{% endfor %}
options {
        listen-on port 53 { 127.0.0.1; {{ ip_for_dns }}; };
        forwarders { {% for item in nameservers.forwarded %} {{ item }}; {% endfor %} };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-query     {localhost;{% for key, _ in int_nets.items() %}{{key}};{%endfor%}};
        recursion yes;

        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";


        managed-keys-directory "/var/named/dynamic";
};
logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};
zone "." IN {
        type hint;
        file "named.ca";
};

zone "lan." IN {
        type master;
        file "/var/named/lan.zone";
};
{% set ip_reverse = int_nets.lan|ansible.utils.ipaddr('network')|reverse %}
zone "{{ip_reverse}}.in-addr.arpa." IN {
        type master;
        file "/var/named/{{ip_reverse}}.in-addr.arpa";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";